/* FONTS ET ALIGNEMENTS GÉNÉRAUX */
body{

}

html{
    font-family: "Roboto", sans-serif;
    font-size: 100%;
    color: rgba(0,0,0,0.7)
}

*{
    margin: 0px;
    padding: 0px;
}

h1{
    font-size: 5rem;
    font-weight: 100;
    color:rgba(255, 255, 255,0.5);
    margin: 1.5rem;
}

h2{
    font-size: 3rem;
    font-weight: 500;
    color: #F73421;
    text-transform: uppercase;
    margin-bottom: 10px;
}

p{
    font-size: 2.5rem;
    font-weight: 300;
    text-align: justify;
    margin-bottom: 25px;
}

ul{
    list-style: none;
    padding: 10px;
    text-align: center;
}

a{
    font-size: 2rem;
    font-weight: 300;
    text-decoration: none;
    padding: 0 25px;
    color:#FFF;

}

a:hover{
    color: #F73421;
}



/* SECTION HEADER & NAVBAR: background, EFFIXLOGO, link underline (navbar)*/
.header-background{
    background-image: url(../img/header-background-sunset.svg);
    background-size:100%;
    background-repeat: no-repeat;
    background-position-y: -50px;
}

.effixlogo{
    background-image: url(../img/effix_logo.svg);
    background-position: center;
    height: 250px;
    background-size: 600px;
    background-repeat: no-repeat;
}

.link-underline{
    text-decoration: underline;
}


/* SECTION NOUVELLES / NOS SERVICES: grille de nouvelles mobile (1 colonne), item panneau blanc, item panneau noir */
.grid-nouvelles{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    max-width: 100%;
    gap:25px;
}

.grid-item-white{
    border: 2px solid rgba(54,57,62,0.7);
    background-color:rgba(255,255,255,0.5);
    padding: 50px 25px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px #888888;
}

.hoverjaune:hover{
    color: rgb(247, 190, 33);
}


/* SECTION LE FONDATEUR / CONTACT: background noir */
.lefondateur-background{
    background-image: url(../img/lefondateur.jpg);
    background-size: 130%;
    background-repeat: no-repeat;
}

.grid-item-black{
    border: 1px solid rgba(0,0,0,0.7);
    background-color:rgba(0,0,0,0.3);
    border-radius: 10px;
    padding: 0 25px;
    color:rgba(255, 255, 255,0.5)
}


/* SECTION LA VIE DE BUREAU: background */
.laviedebureau-background{
    background-image: url(../img/laviedebureau.jpg);
    background-size: 100%;
}


/* SECTION RÉALISATIONS: IMAGES SITES WEB */
.img-site{
    height: 425px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.img-nexbank{
    background-image: url(/img/site01-nexbank.png);
}

.img-barbierlegentlemen{
    background-image: url(/img/site02-barbierlegentlemen.png);
}

.img-mbam{
    background-image: url(/img/site03-mbam.png);
}

.img-slamdisques{
    background-image: url(/img/site04-slamdisques.com.png);
}

.img-graphiste{
    background-image: url(/img/site05-graphiste..png);
}

.img-magicwizards{
    background-image: url(/img/site06-magicwizards.png);
}

.img-anthonyflorio{
    background-image: url(/img/site07-anthonyflorio.png);
}

.img-nektar{
    background-image: url(/img/site08-nektar.png);
}

.img-curadoriadivergente{
    background-image: url(/img/site09-curadoriadivergente.png);
}

.img-musiquegagne{
    background-image: url(/img/site10-musiquegagne.png);
}

/* SECTION FOOTER: grille footer mobile (1 colonne), hauteur grille mobile, */
/* alignement texte (adresse), taille des icônes médias sociaux */

/* IMAGES FOOTER: EFFIXLOGO, Social Media Icons*/
.effixlogosmall{
    display:flex;
    align-items: center;
    justify-content: center;
    background-size: 500px;
    height: 150px;
    width: 500px;
}

.footer-flex-vertical{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.footer-flex{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.footer-panel{
    font-size: 1.4rem;
    display:flex;
    align-items:center;
    justify-content: center;
    border: 2px solid rgb(247, 52, 33);
    width:600px;
    min-height:150px;
}

.social-icons-size{
    max-width: 60px;
    max-height: 60px;
}

.footer-flex > article > ul > li > a{
    font-size: 1.4rem;
}

.footer-flex > article > p{
    font-size: 1.5rem;
}

/* ESTHÉTIQUE: bordure orange */

.orange-border-top{
    border-top: 1px solid rgb(247, 52, 33);
}

.orange-border-side{
    border-left: 2px solid rgb(247, 52, 33);
    border-right: 2px solid rgb(247, 52, 33);
}

.orange-border-navbar{
border-left: 2px solid rgb(247, 52, 33);
}


/* ESTHÉTIQUE: palette des couleurs et gradients */

.white{
    color:rgb(255, 255, 255);
}

.rouge{
    color: rgb(247, 52, 33);
}

.background-grey-light{
    background-color: rgb(229, 229, 229);
}

.background-grey-dark{
    background-color: rgb(54, 57, 62);
}

.background-grey-gradient{
    background-image:linear-gradient(rgb(229, 229, 229), rgb(175, 175, 175))
}

.background-sunset-gradient{
    background-image:linear-gradient(to right, rgb(255, 115, 0), rgb(255, 115, 0), rgb(247, 190, 33))
}


/* UTILS: wrapper, margin, utils */
.wrapper{
    width: 1024px;
    margin: 0 auto;
}

.text-align-center{
    text-align: center;
}

.nomargin{
    margin: 0;
}

.nopadding{
    padding:0;
}

.padding-25{
    padding: 25px;
}

.padding-height-25{
    padding-top: 25px;
    padding-bottom: 25px;
}

.padding-side-10{
    padding-left: 10px;
    padding-right: 10px;
}

.padding-side-100{
    padding-left: 100px;
    padding-right: 100px;
}

.margin-10{
    margin: 10px;
}


/* HABILLAGE SCROLLBAR */
::-webkit-scrollbar{
    width: 12px;
    }

    ::-webkit-scrollbar-thumb{
        background: linear-gradient(rgb(247, 190, 33), rgb(247, 52, 33));
        border-radius:6px
    }

    ::-webkit-scrollbar-thumb:hover{
        background: linear-gradient(rgb(247, 190, 33), rgb(247, 190, 33));
        border-radius:6px
    }


/*MEDIA QUERY*/
@media only screen and (min-width: 768px) {

/* GÉNÉRAL */

    h2{
        font-size: 1.5rem;
    }

    p{
        font-size: 1.3rem;
    }

    a{
        font-size: 1.4rem;
    }

/* SECTION NOUVELLES MEDIA QUERY */
    .grid-nouvelles {
        grid-template-columns: repeat(3, 1fr);
    }
    .grid-nouvelles > article{
        padding: 10px;
    }

    .grid-nouvelles > article > p{
        font-size: 1rem;
    }


/* SECTION LE FONDATEUR MEDIA QUERY */

    .lefondateur-background{
        background-size: 100%;
    }

    .lefondateur-grid{
        display: grid;
        grid-template-columns: 35% 65%;
        min-height: 500px;
    }

    .grid-item-moveright{
        grid-column-start: 2;
    }

    /* SECTION LE FONDATEUR MEDIA QUERY */
    .laviedebureau-background{
        background-size: 110%;
    }

    /* SECTION FOOTER MEDIA QUERY */
    .footer-flex{
        flex-direction: row;
        justify-content: space-around;
        max-width:900px;
    }

    .footer-panel{
        justify-content: space-around;
    }

    .footer-flex > article > ul > li > a{
    font-size: 1rem;
    }

    .footer-flex > article > p{
        font-size: 1rem;
    }

        /* réduire taille icônes médias sociaux */
    .footer-flex > article > div > a > img{
        height: 35px;
        width: 35px;
    }
}