h1{
    font-size: 2rem;
}

.grid-item{
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
    justify-items: center;
}

.grid-soumettre{
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
    justify-items: center;
    margin-top: 25px;
}

.background-mauve-gradient{
    background:linear-gradient(rgb(41, 41, 66),rgb(226, 60, 19, .9));
}

.form-item{
    grid-column: 1;
    background: rgba(54, 57, 62, 0.5);
    color: rgb(229, 229, 229);
    padding: 10px;
    border-radius: 6px;
    font-size:1.5rem;
    font-weight: 300;
    width: 300px;
    box-shadow: -2px -2px rgb(247, 150, 33);
    text-align: center;
 }

 .input-style{
     box-shadow: none;
 }

.bouton-submit{
    grid-column: 1;
    border: 0;
    background-color: rgb(41, 41, 66);
    color: rgb(255 255 255);
    border-bottom: 3px solid rgb(247, 190, 33);
    border-radius: 10px 100px/120px;
    font-size: 2rem;
    padding: 5px 30px 5px 30px;
    margin-bottom: 25px;
    width: 200px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
} 

.bouton-submit:hover{
    background-color: rgb(81, 61, 86);
}


.form-text{
    font-size: 1rem;
}

.form-link{
    font-size: 1rem;
    color: rgb(247, 100, 33);
    padding: 0;
}

input::-webkit-input-placeholder{
    color: rgba(0, 0, 0, 0.5);
}



.input-col-droite{
    grid-column: 1;
}

@media only screen and (min-width: 768px) {

    .grid-item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
        justify-items: right;
    }

    .grid-soumettre{
        display: grid;
        grid-template-columns: 1fr;
        gap: 25px;
    }

    /* Aligne texte input (colonne droite) à gauche */
    .input-col-droite{
        grid-column: 2;
        justify-self: left;
    }

    /* Aligne texte label (colonne gauche) à droite */
    .form-item{
        text-align: right;
        font-size: 1rem;
    }

     .input-style{
        text-align: left;}
    
}